*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    position: absolute;
    width: 100%;
    height: 100%;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background: #2e2e2e;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 80px;
}
.h60{
    width:100%;
    height: 60%;
    background: #e86a92;
    color: #fff;
    font-weight: bold;
    display: flex;
    
}

.h6020{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h6060{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
}



.h60 img{
    height: 100%;
}
.h40{
    width: 100%;
    height: 40%;
    background: #e86a92;
    display: flex;

}
.h4020{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16pt;
}
.h4060{
    width: 60%;
    height: 100%;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  CORPO DA APLICAÇÃO */

.body{

    width: 100%;
    height: calc(100% - 80px);
    
}




/* CARROSEL */

.carrosel{

    width: 100%;
    height: 200px;
    
}

.itemC{

    width: 100%;
    height: 100%;
    display: none;

}

.bx_sociais{

    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:10px;
    
   
}

.bx_sociais span{
    color: #fff;
    font-weight: bold;
    padding: 10px 0px;
}

.btn_sociais{
    width: 95%;
    height: 50px;
    background: none;
    border-radius: 20px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn_sociais:active{
    background: rgba(255, 255, 255, 0.5);
}

.insta{
    border: 2px solid #f5259c;
    transform: translateX(-110%);
  
}

.face{
    border: 2px solid #38569a;
    transform: translateX(110%);
}

.youtube{
    border: 2px solid #ff0000;
    transform: translateX(-110%);
  
}


/* MENU DRAW */

.container_menu{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

.draw{
    position: relative;
    width: 80%;
    height: 100%;
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    transform: translateX(-105%);
    
}

.menu_draw{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu_draw:active{
    background: #efefef;
}

.header_draw{
    width: 100%;
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body_draw{
    width: 100%;
    height: calc(100% - 40px);
    font-weight: bold;
    
}


/* PAGE PRODUCTS */

.containerProd{
    position: relative;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    overflow: hidden;
}

.header_products{
    width: 100%;
    height: 40px;
    background: #fff;
}

.body_products{
    width: 100%;
    height: calc(100% - 80px);
    background: #f2f2f2;
    padding: 10px;
    overflow: auto;
}



.card{
    position: relative;
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    padding:10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}


.btn1{
    width: 100%;
    height: 40px;
    background: green;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.btn2{
    width: 100%;
    height: 40px;
    background: blue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* CARD */

.header_card{
    width: 100%;
    height: 30px;
    background: #fff;
    display: flex;
    
    justify-content: flex-end;
   
}
.body_card{
    width: 100%;
}
.description_card{
    width: 100%;
    padding: 10px;
    color: #222;
    font-weight: bold;
}
.body_bx_img{
    width: 100%;
    border-radius: 5px;
}
.footer_card{
    width: auto;
    background: #fff;
}

.icon-ellipsis-h{
    color: #555;
}


.btn-out{
    width: 100%;
    padding: 10px;
    border: 1px solid #ea4f88;
    border-radius: 15px;
    background: none;
    color: #ea4f88;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.btn-out:active{
    color: #f5259c;
    border: 1px solid #f5259c;
}

.btn-in{
    width: 100%;
    padding: 10px;
    border: 1px solid #ea4f88;
    border-radius: 15px;
    background: #ea4f88;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}
.btn-in:active{
    border: 1px solid #e64072;
    background: #e64072;
}

.bx_header{
    position: absolute;
    top: 30px;
    right: 10px;
    width: 70%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.bx_header_header{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bx_header_body{
    width: 100%;
    height: calc(100% - 30px);
    padding: 10px;
}
.bx_header_body_btn{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 10pt;
    color: #111;
    font-weight: bold;
}
.icon-times-circle{
    font-size: 17pt;
}
.label{
    width: 100%;
    height: 100%;
    color: #111;
}

.b2{
    background: #efefef;
}

/* PAGE PRODUCT */

.container-product{
    position: absolute;
    width: 100%;
    height: 100%;
    background: green;
}

.bx_image{
    width: 100%;
}

.bx_image_img{
    width: 100%;
}

.body-product{
    width: 100%;
    height: calc(100% - 80px);
    background: #f2f2f2;
    overflow: auto;
}

.bx_desc{
    width: 100%;
}
.li_desc{
    width: 100%;
    font-size: 13pt;
}
.li_desc_title{
    width: 100%;
    font-weight: bold;
    color: #111;
    padding: 10px;
       
}
.li_desc_desc{
    width: 100%;
    color: #444;
    padding: 5px 10px;
}

.description_card_cores{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.description_card_cores_circle{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0px 2px;
}

@media(min-width: 700px){

    body{
        display: flex;
        justify-content: center;
        height: auto;
    }
    .container{
        width: 900px;
        height: none;
    }

    .header{
        height: 120px;
    }
    .carrosel{
        height: 500px;
    }

    .containerProd{
        width: 900px;
        display: flex;
        flex-wrap: wrap;
        
    }

    .body_products{

        display: flex;
        flex-wrap: wrap;

    }

    

    .linkbtn{
        cursor: pointer;
    }

    .card{
        width: calc(33.3% - 10px);
        margin: 5px;
    }

    .draw{
        width: 40%;
    }

}